@import "reset.css";

/* noto-serif-jp-900 - latin */
@font-face {
  display: swap;
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 900;
  src: local("Noto Serif JP Black"), local("NotoSerifJP-Black"),
    url("./fonts/noto-serif-jp-v7-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/noto-serif-jp-v7-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --clr--link: #790000;
  --crl--hover: #990202;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --cubic: cubic-bezier(0.64, 0.09, 0.08, 1);
}

a {
  color: var(--clr-link);
  transition: color 0.7s ease-in;
  font-family: var(--ff-secondary);
  font-weight: bold;
}
a:hover {
  color: var(--clr--hover);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

/* endable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 600;
}
h2 {
  font-size: var(--fs-h2);
  font-weight: 600;
}
h3 {
  font-size: var(--fs-h3);
}

p:not(.name) {
  margin: 1rem 0;
}

b {
  font-weight: bold;
  font-family: var(--ff-primary);
  font-size: 1rem;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--hireMe {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  width: 100vw;
  background-color: #fff;
  z-index: 5;
  height: 60px;
  box-shadow: 0 0 1px var(--clr-dark);
}

.logo {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.name {
  font-size: 1.3rem;
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s ease-in;
  overflow: hidden;
}

.name:hover {
  color: var(--clr-accent);
}

.button__item {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .button__item {
    position: relative;
    left: 25%;
    transform: translate(25%, 0);
  }
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/*  Intro section  */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: -webkit-min-content -webkit-max-content;
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/*  My skills section  */

.my-skills {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/skills-bg.jpg);
  background-size: cover;
  background-position: center, bottom;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  color: var(--clr-light);
  text-align: center;
}

.section__title--skills {
  color: var(--clr-accent);
  position: relative;
}

.section__title--skills::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.skills {
  margin-bottom: 4em;
}

.skill {
  flex-basis: calc(1000px / 3);
}

.image__item > img {
  width: 15% !important;
  height: auto !important;
  flex-basis: calc(50% / 3);
  margin: 0 15px 30px 15px;
  padding: 0;
  outline: none;
  border: none;
}


.image__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 250px;
  max-height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.serive__row {
  display: inline-flex;
}

.skill > h3 {
  margin: 18px 0;
  font-size: var(--fs-h3);
  color: var(--clr-accent);
}

.skill > p i {
  font-size: 1.5em;
  margin-right: 6px;
  transition: color 0.5s ease;
}

.skill > p i:hover,
.skill__row > i:hover {
  color: var(--clr-accent);
}

.skill__row > i {
  font-size: 35px;
  transition: color 0.5s ease;
}

.skill p span {
  color: var(--clr-accent);
  font-weight: 900;
  font-size: var(--fs-h3);
}

.skill p {
  margin: 0;
  padding-bottom: 10px;
}

.skill p:last-child {
  margin: 0;
  padding-bottom: 15px;
}

.skill > p {
  line-height: 15px;
}

.skill:last-child p {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.skill:last-child p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.skill:last-child p:nth-child(2)::before {
  background-image: url("./../img/pl.svg");
}

.skill:last-child p:nth-child(3)::before {
  background-image: url("./../img/gb.svg");
}

.skill:last-child p:nth-child(4)::before {
  background-image: url("./../img/kr.svg");
}

.skill:last-child p:nth-child(5)::before {
  background-image: url("./../img/japan.svg");
}

@media (min-width: 800px) {
  .skills {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .skill + .skill {
    margin-left: 2em;
  }
}

.about-me,
.hire-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
  margin-top: 15px;
}

@media (min-width: 600px) {
  .about-me,
  .hire-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about,
  .section__title--hireMe {
    grid-area: title;
  }

  .section__subtitle--about,
  .section__subtitle--hireMe {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio__item {
  position: relative;
  margin: 15px 0;
}

@media (min-width: 1200px) {
  .portfolio {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio__item {
    flex-basis: 25%;
    margin: 0 15px 30px 15px;
  }
}

.portfolio__item:hover {
  background-color: var(--clr-accent);
  overflow: hidden;
}

.portfolio__item:hover .portfolio__img {
  transform: scale(1.1);
  opacity: 0.3;
}

.portfolio__item:hover .describe__item {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  cursor: pointer;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.describe__item {
  display: flex;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.8s ease, opacity 0.2s, visibility 0.2s;
  background-color: rgba(22, 224, 189, 0.5);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hire-me > img {
  z-index: 0;
}

.check {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.describe p {
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-weight: 300;
  font-size: 0.8em;
  min-width: 300px;
  margin-bottom: 1.5em;
}

.describe__item,
.describe > b {
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
}

.check__item > i {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: var(--clr-dark);
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#work h3:last-of-type {
  margin: 0.5em 0;
}

/*form*/
form {
  position: relative;
  font-family: var(--ff-primary);
  max-width: 460px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 40px;
  border-radius: 3px;
  color: var(--clr-dark);
  flex-direction: column;
  display: flex;
  margin-bottom: 15px;
}
form h3 {
  font-family: var(--ff-secondary);
  max-width: 100%;
  background: var(--clr-accent);
  padding: 20px;
  color: var(--clr-dark);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 3px 0 0;
}
form input::-webkit-input-placeholder,
#contact form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder,
#contact form textarea::-webkit-input-placeholder {
  font: inherit;
  -webkit-transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}
form input,
#contact form input,
form textarea,
#contact form textarea {
  font: inherit;
  font-size: 0.8em;
  margin: 28px 25px 10px;
  max-width: 400px;
  display: block;
  border: none;
  padding: 20px 0 10px;
  border-bottom: solid 1px var(--clr-accent);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 96%,
    var(--clr-accent) 4%
  );
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  transition: background-color 0.3s var(--cubic);
  resize: none;
  overflow: hidden;
}
form input:focus::-webkit-input-placeholder,
#contact form input:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder,
#contact form textarea:focus::-webkit-input-placeholder {
  color: var(--clr-accent);
}
form input:focus,
#contact form input:focus,
form textarea:focus,
#contact form textarea:focus,
form input:valid form input:optional,
#contact form input:valid #contact form input:optional,
form textarea:valid form textarea:optional,
#contact form textarea:valid #contact form textarea:optional {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
  color: var(--clr-dark);
}
form input:focus::-webkit-input-placeholder,
#contact form input:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder,
#contact form textarea:focus::-webkit-input-placeholder,
form input:valid form input:optional::-webkit-input-placeholder,
#contact
  form
  input:valid
  #contact
  form
  input:optional::-webkit-input-placeholder,
form textarea:valid form textarea:optional::-webkit-input-placeholder,
#contact
  form
  textarea:valid
  #contact
  form
  textarea:optional::-webkit-input-placeholder {
  font-size: 0.8em;
  transform: translateY(-20px);
  visibility: visible !important;
  opacity: 1;
}
form textarea {
  width: calc(100% - 50px);
}
form input[type="email"],
#contact form input[type="email"] {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 96%,
    var(--clr-accent) 4%
  );
  background-position: -400px 0;
  background-repeat: no-repeat;
  transition: border-bottom 0.3s ease, background-color 0.3s ease;
}
form input[type="email"] ~ span.validation-text,
#contact form input[type="email"] ~ span.validation-text {
  position: absolute;
  visibility: hidden;
  font-family: "roboto", sans-serif;
  font-size: 0.6em;
  max-width: 400px;
  margin-left: 25px;
  margin-top: -5px;
  color: white;
  transition: color 0.3s ease-in-out;
}
form input[type="email"]:not([value=""])::-webkit-input-placeholder,
#contact form input[type="email"]:not([value=""])::-webkit-input-placeholder {
  font-size: 0.8em;
  transform: translateY(-20px);
  visibility: visible !important;
  opacity: 1;
}
form input[type="email"]:not([value=""]):focus::-webkit-input-placeholder,
#contact
  form
  input[type="email"]:not([value=""]):focus::-webkit-input-placeholder {
  color: var(--clr-accent);
}
form
  input[type="email"]:not([value=""]):focus:not(:valid)::-webkit-input-placeholder,
#contact
  form
  input[type="email"]:not([value=""]):focus:not(:valid)::-webkit-input-placeholder {
  color: var(--invalid);
}
form input[type="email"]:focus,
#contact form input[type="email"]:focus {
  background-position: 0 0;
}
form input[type="email"]:focus:not(:valid):not([value=""]),
#contact form input[type="email"]:focus:not(:valid):not([value=""]) {
  border-bottom: solid 1px var(--invalid);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 96%,
    var(--invalid) 4%
  );
}
form input[type="email"]:not(:focus):not(:valid):not([value=""]),
#contact form input[type="email"]:not(:focus):not(:valid):not([value=""]) {
  border-bottom: solid 1px var(--invalid);
  background-position: 0 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 96%,
    var(--invalid) 4%
  );
}
form
  input[type="email"]:not(:focus):not(:valid):not([value=""])::-webkit-input-placeholder,
#contact
  form
  input[type="email"]:not(:focus):not(:valid):not([value=""])::-webkit-input-placeholder {
  color: var(--invalid);
}
form
  input[type="email"]:not(:focus):not(:valid):not([value=""])
  ~ span.validation-text,
#contact
  form
  input[type="email"]:not(:focus):not(:valid):not([value=""])
  ~ span.validation-text {
  visibility: visible;
  color: var(--invalid);
}
form .flex,
#contact form .flex {
  display: flex;
  align-items: stretch;
}
form .flex textarea,
#contact form .flex textarea {
  line-height: 120%;
}
form button {
  font-family: var(--ff-secondary);
  border: none;
  background: var(--clr-accent);
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  margin: 0 auto;
  width: calc(100% - 150px);
  color: var(--clr-dark);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}
form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

p.name span {
  border-right: 0.05em solid;
  -webkit-animation: caret 1s steps(1) infinite;
  animation: caret 1s steps(1) infinite;
}

@-webkit-keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.hide {
  font-size: 2rem;
  font-family: var(--ff-secondary);
  margin: 0 auto;
  line-height: normal;
  font-weight: 600;
  text-align: center;
  color: var(--clr-light);
  padding: 0;
}

.intro-slider {
  background: var(--clr-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: var(--clr-accent);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: var(--clr-light);
  font-family: "Noto Serif JP", sans-serif;
  font-size: 2.5rem;
  z-index: 5;
  font-weight: 900;
}

.hide {
  background: var(--clr-dark);
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.portfolio-item-individual > .btn {
  margin: 15px;
}
