*,
*::after,
*::before {
  font-family: "Poiret One";
  font-weight: 400;
  font-size: 15px;
  color: #111;
  box-sizing: border-box;
  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

body {
  width: 100vw;
  height: 100vh;
}
.nameChecker {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.names__item {
  padding: 0 15px 30px 15px;
  width: 250px;
}
#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 65vh;
  overflow-y: scroll;
  justify-content: center;
}
.logo {
  color: red;
  font-size: 35px;
  font-weight: 900;
  text-decoration: underline;
  font-family: "Pacifico";
}

h2 {
  color: black;
  font-size: 35px;
  font-weight: 900;
  font-family: "Poiret One";
}

input {
  margin-bottom: 10px;
}

.result {
  font-size: 15px;
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}

button {
  border-radius: 50px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: red;
  color: #fff;
  transition: background-color 0.5s ease-in, color 0.3s ease;
  font-weight: 600;
}

button:hover {
  background-color: #fff;
  color: red;
  border: 2px solid red;
}

b {
  font-weight: bold;
  color: red;
}

a {
  text-decoration: underline;
  color: red;
}

/* pacifico-regular - latin */
@font-face {
  display: swap;
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url("./fonts/pacifico-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/pacifico-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poiret-one-regular - latin-ext */
@font-face {
  display: swap;
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  src: local("Poiret One"), local("PoiretOne-Regular"),
    url("./fonts/poiret-one-v9-latin-ext-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/poiret-one-v9-latin-ext-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
