@import "tailwindcss";

@layer theme, base, components, utilities;

@layer theme {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    /* Font weights */
    --fw-reg: 300;
    --fw-bold: 900;

    /* Colors */
    --clr-light: #ffffff;
    --clr-dark: #001d3d;
    --clr-accent: #ffd60a;
    --clr-primary: #ffc300;
    --clr-secondary: #003566;

    /* Font sizes */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* Shadows & other */
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
      0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
    --cubic: cubic-bezier(0.64, 0.09, 0.08, 1);

    /* Fonts */
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --ff-primary: "Source Sans 3", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;

    /* Safari */
    --vh: 1vh;
  }

  @media (min-width: 800px) {
    :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .grid-area-img {
    grid-area: img;
  }
  .shadow-bs {
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
      0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

section {
  display: block;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  min-height: 100vh;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

strong {
  font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 600;
}
h2 {
  font-size: var(--fs-h2);
  font-weight: 600;
}
h3 {
  font-size: var(--fs-h3);
}

b {
  font-weight: bold;
  font-family: var(--ff-primary);
  font-size: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

.font-secondary {
  font-family: var(--ff-secondary);
}

a {
  color: var(--clr-primary);
  font-size: var(--fs-body);
  display: inline-block;
  text-decoration: underline;
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

a:hover {
  color: var(--clr-primary);
  text-decoration: none;
}

@media (min-width: 1000px) {
  a:hover {
    transform: scale(1.1) !important;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px; /* wysokość paska w poziomie */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 9999px;
  border: 2px solid transparent;
}
